.commentaryHeading {
    margin-bottom: 8px;
}

.footballData {
    width: 100%;
    min-height: 300px;
    margin: 24px 0 16px 0;
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    font-family: 'Rubik', sans-serif;
    background-color: transparent;
    color: white;
}

.getCommentaryBtn {
    padding: 16px 24px;
    border-radius: 12px;
    background-color: rgb(13, 51, 156);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-bottom: 40px;
}

.getCommentaryBtn:hover {
    background-color: rgb(29, 69, 180);
}