.loadingAnimation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .loadingAnimation p {
    margin-left: 12px;
  }
  
  .loadingSpinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top-color: rgb(13, 51, 156);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }